!!!
%html  
  %head  
    %title #{@city}'s Weather
    %link(rel="stylesheet" href="css/styles.css")  
    %link(href='http://fonts.googleapis.com/css?family=Lato:100' rel = 'stylesheet' type = 'text/css')
    %script{"src" => 'javascripts/skycons.js', "type" => 'text/javascript'}
    %script{"src" => 'javascripts/ga.js', "type" => 'text/javascript'}

  %body  
    #wrapper  
      #header  
        %h1 The weather in #{@city} is...     
      #content 
        %figure{"class" => "icons"}
          %canvas{"id" => "#{@current_icon}", "width" => "64", "height" => "64"}
        %h1 
          #{@temp_difference_abs} #{@unit} #{@temp_description}
          and #{@wind_description} than this time yesterday. It's also #{@cloud_description} yesterday.
        %br
        %br
        %br
      #footer
        %p
          Powered by <a href="http://forecast.io">Forecast.io</a> | Kyle Mack 2013

    




%script
  var icons = new Skycons({"color": "white"});
  icons.set("clear-day", Skycons.CLEAR_DAY); 
%script  
  icons.set("clear-night", Skycons.CLEAR_NIGHT);
%script   
  icons.set("partly-cloudy-day", Skycons.PARTLY_CLOUDY_DAY);
%script   
  icons.set("partly-cloudy-night", Skycons.PARTLY_CLOUDY_NIGHT);
%script   
  icons.set("cloudy", Skycons.CLOUDY);
%script 
  icons.set("rain", Skycons.RAIN);
%script   
  icons.set("sleet", Skycons.SLEET);
%script   
  icons.set("snow", Skycons.SNOW);
%script   
  icons.set("wind", Skycons.WIND);
%script   
  icons.set("fog", Skycons.FOG);
%script
  icons.play();



