!!!  
%html  
  %head  
    %title #{@city}'s Weather
    %link(rel="stylesheet" href="css/styles.css")  
  %link(href='http://fonts.googleapis.com/css?family=Lato:100' rel = 'stylesheet' type = 'text/css')

  %body  
    #wrapper  
      #header  
        %h1 The weather in #{@city} is...     
      #content 
        %h1 Current Temp  
        %p  
          #{@current_temp} °C

        %h1 Yesterdays Temp
        %p
          #{@yesterday_temp} °C

        %h1 Currently
        %p
          #{@temp_difference} #{@unit} #{@temp_description}
          and #{@wind_description} than this time yesterday
       